@font-face {
  font-family: 'Lato-Regular';
  src: url("Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato-Bold';
  src: url("Lato/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Courgette-Regular';
  src: url("Courgette/Courgette-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Pacifico-Regular';
  src: url("Pacifico-Regular/Pacifico-Regular.ttf") format("truetype");
}

@-webkit-keyframes arrowHeader {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes arrowHeader {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes burgerChangeOne {
  0% {
    top: 1rem;
  }
  50% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  51% {
    background-color: #fff;
  }
  100% {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #0A2472;
  }
}

@keyframes burgerChangeOne {
  0% {
    top: 1rem;
  }
  50% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  51% {
    background-color: #fff;
  }
  100% {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #0A2472;
  }
}

@-webkit-keyframes burgerChangeTwo {
  0% {
    top: -1rem;
  }
  50% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  51% {
    background-color: #fff;
  }
  100% {
    top: 0;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    background-color: #0A2472;
  }
}

@keyframes burgerChangeTwo {
  0% {
    top: -1rem;
  }
  50% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  51% {
    background-color: #fff;
  }
  100% {
    top: 0;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    background-color: #0A2472;
  }
}

@-webkit-keyframes linkMoveToRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes linkMoveToRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slowShowInHeader {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slowShowInHeader {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes jumpToUp {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes jumpToUp {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-size: 1.6rem;
  font-family: 'Lato-Regular';
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 300vh;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #A6E1FA;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform .3s .1s ease-in-out;
  transition: -webkit-transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out, -webkit-transform .3s .1s ease-in-out;
  z-index: 5;
}

.navigation__list {
  text-align: center;
}

.navigation__item {
  margin: 10rem;
}

.navigation__link {
  padding: 2rem 3rem;
  background: #fff;
  font-size: 2rem;
  border-radius: 30px;
  color: #333;
  font-family: 'Lato-Bold';
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.navigation.navigation--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navigation--active .navigation__item:nth-child(1) {
  -webkit-animation: linkMoveToRight .5s .1s ease-in-out;
          animation: linkMoveToRight .5s .1s ease-in-out;
}

.navigation--active .navigation__item:nth-child(2) {
  -webkit-animation: linkMoveToRight .5s .2s ease-in-out;
          animation: linkMoveToRight .5s .2s ease-in-out;
}

.navigation--active .navigation__item:nth-child(3) {
  -webkit-animation: linkMoveToRight .5s .3s ease-in-out;
          animation: linkMoveToRight .5s .3s ease-in-out;
}

.hamburger__inner::before, .hamburger__inner::after {
  width: 100%;
  height: 4px;
  background-color: white;
  position: absolute;
  background-color: #fff;
  content: '';
  left: 0;
}

.hamburger {
  z-index: 10;
  padding: 1rem;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
  outline: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 0;
  -webkit-animation: slowShowInHeader 3s linear forwards;
          animation: slowShowInHeader 3s linear forwards;
}

.hamburger__box {
  width: 3rem;
  height: 2.4rem;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  width: 100%;
  height: 4px;
  background-color: white;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff;
}

.hamburger__inner::before {
  top: 1rem;
}

.hamburger__inner::after {
  top: -1rem;
}

.hamburger--active {
  position: fixed;
}

.hamburger--active .hamburger__inner {
  background: transparent;
}

.hamburger--active .hamburger__inner:before {
  border-radius: 20px;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-animation: burgerChangeOne .5s ease-in-out forwards;
          animation: burgerChangeOne .5s ease-in-out forwards;
}

.hamburger--active .hamburger__inner:after {
  border-radius: 20px;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-animation: burgerChangeTwo .5s ease-in-out forwards;
          animation: burgerChangeTwo .5s ease-in-out forwards;
}

.about-me__shape {
  position: absolute;
  top: 250px;
  right: -150px;
  z-index: -1;
}

.round-shape {
  fill: url(#shape-gradient) #fff;
}

#shape-gradient {
  --color-stop: #A6E1FA;
  --color-bot: #0E6BA8;
}

.header {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url(../img/header-baner-640.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__full-name {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 2rem;
  font-family: 'Pacifico-Regular';
  z-index: 20;
  color: #0A2472;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-animation: jumpToUp 1s 1s linear forwards;
          animation: jumpToUp 1s 1s linear forwards;
}

.header__full-name--active {
  color: #333;
  -webkit-transition: none;
  transition: none;
  position: fixed;
}

.header__text-box {
  color: #fff;
  padding: 2rem;
  border-radius: 10px;
  opacity: 0;
  -webkit-animation: slowShowInHeader 3s linear forwards;
          animation: slowShowInHeader 3s linear forwards;
}

.header .heading__main {
  margin-bottom: 1rem;
  display: block;
  font-size: 2.5rem;
  font-family: 'Lato-Bold';
}

.header .heading__sub {
  display: block;
  font-size: 1.8rem;
  font-family: 'Lato-Regular';
}

.header .heading__front {
  display: inline-block;
  font-size: 2rem;
  font-family: 'Pacifico-Regular';
  color: #0A2472;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-animation: jumpToUp 1s 1s linear forwards;
          animation: jumpToUp 1s 1s linear forwards;
}

.header__arrow {
  position: absolute;
  bottom: 1rem;
}

.path {
  height: 4rem;
  width: 4rem;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: 0;
  -webkit-animation: arrowHeader .6s 2.5s ease infinite alternate;
          animation: arrowHeader .6s 2.5s ease infinite alternate;
}

.about-me {
  padding: 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.about-me__text-box {
  letter-spacing: 1px;
  line-height: 180%;
}

.about-me__background-box {
  text-align: center;
  width: 10rem;
  border: 2px solid #333;
  padding: 1rem;
  position: relative;
  height: 5rem;
}

.about-me__background-box .background {
  width: 100%;
  height: 5rem;
  background-color: #0A2472;
  background-color: #A6E1FA;
  background-color: #0E6BA8;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: -1;
  color: #0A2472;
}

.about-me__text {
  display: block;
  margin: 2rem 0;
  font-size: 1.8rem;
  color: #333;
}

.about-me__text:nth-child(n + 1):not(.about-me__text:first-child) {
  margin: 0 0 2rem;
}

.about-me__text--background {
  margin: 0;
  font-size: 2rem;
  font-family: 'Lato-Bold';
  color: #fff;
}

.about-me__stack-box {
  text-align: center;
}

.about-me___heading-tertiary {
  font-size: 2rem;
  padding: 2rem 0 1rem;
  font-family: 'Courgette-Regular';
  border-top: 2px solid #0A2472;
}

.about-me__stack {
  display: block;
  color: #0A2472;
  font-family: 'Lato-Bold';
}

.projects {
  min-height: 100vh;
  background-color: turquoise;
  padding: 2rem 1rem;
}

.projects__heading {
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
}

.projects__box {
  text-align: center;
  border-radius: 10px 10px 0 0;
  background: #fff;
}

.projects__box--what-next {
  font-size: 2rem;
}

.projects__heading-tertiary {
  margin-top: 2rem;
  font-family: 'Lato-Bold';
  color: turquoise;
  padding: 1rem;
}

.projects__img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
}

.description-box {
  background: #fff;
  padding: 1rem;
  margin: 0;
}

.description-box__paragraph {
  color: turquoise;
  font-size: 1.2rem;
  font-family: 'Lato-Bold';
  padding: 1rem;
}

.description-box__link {
  border: 1px solid turquoise;
  border-radius: 10px;
  color: turquoise;
  display: inline-block;
  padding: 1rem;
}

.description-box__link--live {
  margin-right: 4rem;
}

.description-last-box__list {
  text-align: left;
  padding: 2rem;
}

.description-last-box__item {
  margin: 1rem 0;
}
/*# sourceMappingURL=main.css.map */