// font-family: 'Lato-Regular';
// font-family: 'Lato-Bold';
// font-family: 'Courgette-Regular';
// font-family: 'Pacifico-Regular';


@font-face {
    font-family: 'Lato-Regular';
    src: url('Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('Lato/Lato-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Courgette-Regular';
    src: url('Courgette/Courgette-Regular.ttf') format('truetype');
}


@font-face {
    font-family: 'Pacifico-Regular';
    src: url('Pacifico-Regular/Pacifico-Regular.ttf') format('truetype');
}