// Basic Colours
$color-white: #fff;
$color-black: #000;
$deafult-font-size: 1.6rem;

$color-gray-bottom: #eee;


$color-gray-light: #e6e6e6;
$color-gray-444: #444;
$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-gray-background: #f4f4f4;
$color-beige-background: #FFFDE1;

// Other Colours
$color-primary-light: #A6E1FA;
$color-primary:#0E6BA8;
$color-primary-dark:#0A2472;