// Basic Colours
$color-white: #fff;
$color-black: #000;
$deafult-font-size: 1.6rem;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-background: #f4f4f4;

// Other Colours
$color-primary-light: #A6E1FA;
$color-primary:#0E6BA8;
$color-primary-dark:#0A2472;