.about-me {
    padding: 2rem 4rem 4rem;
    @include flexCenter;
    position: relative;
    overflow: hidden;

    &__text-box {
        letter-spacing: 1px;
        line-height: 180%;
    }

    .hello {
        margin-top: 2rem;
        background-color: $color-primary;
        display: inline-block;
        position: relative;

        &__text {
            padding: 1rem 1.5rem;
            color: $color-white;
            font-size: 2rem;
            font-family: 'Lato-Bold';

            &::before {
                content: '';
                height: 100%;
                width: 100%;
                padding: 1re 1.5rem;
                border: 2px solid $color-gray-dark-3;
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(-6px, -6px);
            }
        }
    }

    // &__background-box {
    //     text-align: center;
    //     width: 10rem;
    //     // BORDER
    //     border: 2px solid $color-gray-dark-3;
    //     padding: 1rem;
    //     position: relative;
    //     height: 5rem;
    //     margin-bottom: 2rem;

    //     // MOVE BACKGROUND
    //     .background {
    //         width: 100%;
    //         height: 5rem;
    //         background-color: $color-primary;
    //         position: absolute;
    //         top: 8px;
    //         left: 8px;
    //         z-index: -1;
    //         color: $color-primary-dark;
    //     }
    // }

    &__text {
        display: block;
        margin: 2rem 0;
        font-size: 1.8rem;

        color: $color-gray-dark-3;

        &:nth-child(n + 1):not(.about-me__text:first-child) {
            margin: 0 0 2rem;
        }

        // &--background {
        //     margin: 0;
        //     font-size: 2rem;
        //     font-family: 'Lato-Bold';
        //     color: black;
        // }
    }

    &__stack-box {
        text-align: center;
    }

    &___heading-tertiary {
        font-size: 2rem;
        padding: 2rem 0 1rem;
        font-family: 'Courgette-Regular';
        border-top: 2px dashed $color-primary-dark;
    }

    &__stack {
        display: block;
        color: $color-primary-dark;
        font-family: 'Lato-Bold';
    }
}