@include respond(desktop) {

    // HEADER -----------------------
    .projects {
        width: 70%;
        margin: 0 auto;
    }

    // CONTACT -----------------------
    .contact {
        &__heading-tertiary {
            margin-left: 10rem;
        }
    }
}