%basicBeforeAfter {
    @include hamburger-line;
    background-color: $color-white;
    content: '';
    left: 0;
}

.hamburger {
    z-index: 10;

    padding: 1rem;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
    outline: none;
    position: absolute;
    top: 1rem;
    right: 1rem;

    &__box {
        width: 3.5rem;
        height: 2.4rem;
        display: inline-block;
        position: relative;

    }

    &__inner {
        @include hamburger-line;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: $color-white;

        &::before,
        &::after {
            @extend %basicBeforeAfter;
        }

        &::before {
            top: 1rem;
        }

        &::after {
            top: -1rem;
        }
    }


    &--active {
        position: fixed;
    }
}

.hamburger--active .hamburger__inner {
    background: transparent;
}

.hamburger--active .hamburger__inner:before {
    transform-origin: 50%;
    animation: burgerChangeOne .5s ease-in-out forwards;
}

.hamburger--active .hamburger__inner:after {
    transform-origin: 50%;
    animation: burgerChangeTwo .5s ease-in-out forwards;
}