.navigation {
    @include flexCenter;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: $color-primary-light;

    transform: translateX(-100%);
    transition: transform .3s .1s ease-in-out;
    z-index: 5;

    &__list {
        text-align: center;
    }

    &__item {
        margin: 10rem;
    }

    &__link {
        padding: 2rem 3rem;
        background: $color-white;
        font-size: 2rem;
        border-radius: 30px;
        color: $color-gray-dark-3;
        font-family: 'Lato-Bold';

        @include box-shadow-links;
    }

    &.navigation--active {
        transform: translateX(0);
    }

    &--active &__item:nth-child(1) {
        animation: linkMoveToRight .5s .1s ease-in-out;
    }

    &--active &__item:nth-child(2) {
        animation: linkMoveToRight .5s .2s ease-in-out;
    }

    &--active &__item:nth-child(3) {
        animation: linkMoveToRight .5s .3s ease-in-out;
    }
}